@inherits LayoutComponentBase

<MkHeader Title="Makani Docs">
    <MkDarkModeToggle />
    <a aria-label="GitHub Repository" href="https://github.com/getspacetime/makani" target="_blank" class="mr-5 hover:text-white cursor-pointer">
        <img src="GitHub-Mark-Light-64px.png" width="32" alt="GitHub logo"/>
    </a>
</MkHeader>

<article class="container mx-auto px-4">
    @Body
</article>