@inherits LayoutComponentBase
@using Makani.Utilities
@inject NavigationManager Nav
@inject IElementUtils ElementUtils
@inject ILogger<MainLayout> Log

<MkHeader Title="Makani Docs">
    <MkDarkModeToggle />
    <a aria-label="GitHub Repository" href="https://github.com/getspacetime/makani" target="_blank" class="mr-5 hover:text-white cursor-pointer">
        <img src="GitHub-Mark-Light-64px.png" width="32" alt="GitHub logo"/>
    </a>
</MkHeader>

<MkToastProvider/>
<article class="container mx-auto px-4">
    @Body
</article>

@code {
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            Nav.LocationChanged += NavOnLocationChanged;
        }
    }

    private void NavOnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        try
        {
            var uri = Nav.ToAbsoluteUri(Nav.Uri);
            if (!string.IsNullOrWhiteSpace(uri.Fragment) && uri.Fragment.Length > 1)
            {
                Log.LogInformation("Scrolling to fragment {fragment}", uri.Fragment);
                ElementUtils.ScrollToFragment(uri.Fragment.Substring(1));
            }
        }
        catch (Exception ex)
        {
            Log.LogError(ex, "Failed to scroll to fragment");
        }
    }

}