@namespace Makani

<header class="text-gray-400 bg-gray-900 body-font border-b border-slate-600">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <a class="flex title-font font-medium items-center text-white">
            <span class="text-xl">@Title</span>
        </a>


        <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
            @ChildContent
        </nav>
    </div>
</header>

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
