@namespace Makani
@using Microsoft.Extensions.Logging
@inherits MkComponent

<CascadingValue Value="this">
    <section class="text-gray-900 dark:text-gray-400 dark:bg-gray-900 body-font">
        <div class="container px-5 py-24 mx-auto flex flex-wrap flex-col">
        <div class="flex mx-auto flex-wrap mb-20">
            @foreach (var tab in Tabs)
            {
                <a @onclick="() => ChangeTab(tab)" class="@(CurrentTab == tab ? "dark:bg-gray-800 border-indigo-500 dark:text-white" : "dark:border-gray-800 border-gray-300") sm:px-6 py-3 w-1/2 sm:w-auto justify-center sm:justify-start border-b-2 title-font font-medium inline-flex items-center leading-none tracking-wider rounded-t cursor-pointer">
                    <!-- todo: icon -->
                    @tab.Title
                </a>
            }

        </div>
        @ChildContent
        </div>
    </section>
</CascadingValue>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    public MkTabContent? CurrentTab { get; set; }

    internal List<MkTabContent> Tabs { get; set; } = new List<MkTabContent>();
    
    internal void ChangeTab(MkTabContent tab)
    {
        CurrentTab = tab;
    }

    internal void AddTab(MkTabContent tab)
    {
        Tabs.Add(tab);

        if (CurrentTab == null)
        {
            CurrentTab = tab;
        }

        StateHasChanged();
    }
}
