@namespace Makani

<section class="text-gray-400 bg-gray-900 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-wrap flex-col">
        <div class="flex mx-auto flex-wrap mb-20">
            <a @onclick="() => ChangeTab(1)" class="@(CurrentTab == 1 ? "bg-gray-800 border-indigo-500 text-white" : "border-gray-800") sm:px-6 py-3 w-1/2 sm:w-auto justify-center sm:justify-start border-b-2 title-font font-medium inline-flex items-center leading-none tracking-wider rounded-t cursor-pointer">
                <!-- todo: icon -->
                TAB 1
            </a>
            <a @onclick="() => ChangeTab(2)" class="@(CurrentTab == 2 ? "bg-gray-800 border-indigo-500 text-white" : "border-gray-800") sm:px-6 py-3 w-1/2 sm:w-auto justify-center sm:justify-start border-b-2 title-font font-medium inline-flex items-center leading-none hover:text-white tracking-wider cursor-pointer">
                <!-- todo: icon -->
                TAB 2
            </a>
            <a @onclick="() => ChangeTab(3)" class="@(CurrentTab == 3 ? "bg-gray-800 border-indigo-500 text-white" : "border-gray-800") sm:px-6 py-3 w-1/2 sm:w-auto justify-center sm:justify-start border-b-2 title-font font-medium inline-flex items-center leading-none hover:text-white tracking-wider cursor-pointer">
                <!-- todo: icon -->
                TAB 3
            </a>
            <a @onclick="() => ChangeTab(4)" class="@(CurrentTab == 4 ? "bg-gray-800 border-indigo-500 text-white" : "border-gray-800") sm:px-6 py-3 w-1/2 sm:w-auto justify-center sm:justify-start border-b-2 title-font font-medium inline-flex items-center leading-none hover:text-white tracking-wider cursor-pointer">
                <!-- todo: icon -->
                TAB 4
            </a>
        </div>
        <div class="flex flex-col text-center w-full">
            @switch (CurrentTab)
            {
                case 4:
                    <div>Tab 4</div>
                    break;
                case 3:
                    <div>Tab 3!</div>
                    break;
                case 2:
                    <div>Tab 2</div>
                    break;
                case 1:
                default:
                    <div>
                        <img class="xl:w-1/4 lg:w-1/3 md:w-1/2 w-2/3 block mx-auto mb-10 object-cover object-center rounded" alt="hero" src="https://dummyimage.com/720x600">
                        <h1 class="text-xl font-medium title-font mb-4 text-white">Content Title</h1>
                        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Tab Content Body #@CurrentTab</p>
                    </div>
                    break;
            }
        </div>
    </div>
</section>

@code {
    public int CurrentTab { get; set; } = 1;

    private void ChangeTab(int tab)
    {
        CurrentTab = tab;
    }
}
