@namespace Makani
@inherits MkComponent
@inject ButtonTheme Theme

<button class="@internalCss" @onclick="OnClick">@ChildContent</button>

@code {
    private string internalCss => !string.IsNullOrWhiteSpace(Tailwind) ? Tailwind : BuildCss();

    [Parameter]
    public MkSize Size { get; set; }

    [Parameter]
    public MkColor Color { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }

    public string BuildCss()
    {
        Theme.Size.TryGetValue(Size, out var size);
        Theme.Color.TryGetValue(Color, out var color);

        return $"{Theme.Base} {size} {color} {Css ?? string.Empty}";
    }
}
