@page "/"

<MkText Type="TextType.H1">Buttons</MkText>

<div class="grid grid-cols-3 gap-4 w-full">
    <MkButton Css="col-span-1" Size="MkSize.Small">Small</MkButton>
    <MkButton Css="col-span-1">Medium</MkButton>
    <MkButton Css="col-span-1" Size="MkSize.Large">Large</MkButton>
</div>
<div class="grid grid-cols-3 gap-4">
    <MkButton Css="col-span-1" Color="MkColor.Primary">Primary</MkButton>
    <MkButton Css="col-span-1" Color="MkColor.Secondary">Secondary</MkButton>
</div>
<MkText Type="TextType.H1">Tabs</MkText>
<MkTabs />

<MkText Type="TextType.H1">Typography</MkText>

<MkText Type="TextType.H1">The quick brown fox jumps over the lazy dog.</MkText>

<MkText Type="TextType.H2">The quick brown fox jumps over the lazy dog.</MkText>

<MkText Type="TextType.H3">The quick brown fox jumps over the lazy dog.</MkText>

<MkText Type="TextType.H4">The quick brown fox jumps over the lazy dog.</MkText>

<MkText Type="TextType.H5">The quick brown fox jumps over the lazy dog.</MkText>

<MkText Type="TextType.H6">The quick brown fox jumps over the lazy dog.</MkText>

<MkText Type="TextType.Body">The quick brown fox jumps over the lazy dog.</MkText>

<MkText Type="TextType.Caption">The quick brown fox jumps over the lazy dog.</MkText>
