@page "/"

<MakaniText Type="TextType.H1">Buttons</MakaniText>

<div class="grid grid-cols-3 gap-4 w-full">
    <MakaniButton Css="col-span-1" Size="MkSize.Small">Small</MakaniButton>
    <MakaniButton Css="col-span-1">Medium</MakaniButton>
    <MakaniButton Css="col-span-1" Size="MkSize.Large">Large</MakaniButton>
</div>
<div class="grid grid-cols-3 gap-4">
    <MakaniButton Css="col-span-1" Color="MkColor.Primary">Primary</MakaniButton>
    <MakaniButton Css="col-span-1" Color="MkColor.Secondary">Secondary</MakaniButton>
</div>
<MakaniText Type="TextType.H1">Tabs</MakaniText>
<Tabs />

<MakaniText Type="TextType.H1">Typography</MakaniText>

<MakaniText Type="TextType.H1">The quick brown fox jumps over the lazy dog.</MakaniText>

<MakaniText Type="TextType.H2">The quick brown fox jumps over the lazy dog.</MakaniText>

<MakaniText Type="TextType.H3">The quick brown fox jumps over the lazy dog.</MakaniText>

<MakaniText Type="TextType.H4">The quick brown fox jumps over the lazy dog.</MakaniText>

<MakaniText Type="TextType.H5">The quick brown fox jumps over the lazy dog.</MakaniText>

<MakaniText Type="TextType.H6">The quick brown fox jumps over the lazy dog.</MakaniText>

<MakaniText Type="TextType.Body">The quick brown fox jumps over the lazy dog.</MakaniText>

<MakaniText Type="TextType.Caption">The quick brown fox jumps over the lazy dog.</MakaniText>
