@using Microsoft.Extensions.Logging

@inject ILogger<MkDropdown> Log

<MkText Type="Typo.H1">Dropdowns</MkText>
<div class="mb-10">
    <MkText Type="Typo.H3">Button dropdown</MkText>
    <div class="flex items-baseline">
        <MkDropdown Items="Items" OnItemSelected="ItemSelected">Settings</MkDropdown>
        <p class="dark:text-gray-200 ml-4 mb-4">
            <strong>Selected: </strong> @MenuItemClicked
        </p>
    </div>

    <MkCode Text="@Markup" Language="@MkCode.Razor" Caption="Example" Css="my-4"/>
</div>

@code {
    public string MenuItemClicked { get; set; } = "Select a menu item";

    public List<MkDropdown.MkMenuItem> Items { get; set; } = new List<MkDropdown.MkMenuItem>();

    protected override void OnInitialized()
    {
        Items.Add(new MkDropdown.MkMenuItem { Text = "Menu item 1" });
        Items.Add(new MkDropdown.MkMenuItem { Text = "Menu item 2" });
        Items.Add(new MkDropdown.MkMenuItem { Text = "Menu item 3" });
        Items.Add(new MkDropdown.MkMenuItem { Text = "Menu item 4" });
    }

    protected void ItemSelected(MkDropdown.MkMenuItem item)
    {
        MenuItemClicked = item.Text;
    }

    private string Markup = @"<MkDropdown Items=""Items"">Settings</MkDropdown>

@code {
    private List<MkDropdown.MkMenuItem> Items = new List<MkDropdown.MkMenuItem>
    {
        new MkDropdown.MkMenuItem { Text = ""Menu item 1"" }},
        new MkDropdown.MkMenuItem { Text = ""Menu item 2"" }}
    };
}
";

}