<MkText Type="Typo.H1" Id="tabs">Tabs</MkText>
<div class="mb-10">
    <MkText Type="Typo.H3">Basic tabs</MkText>
    <MkTabs>
        <MkTabContent Title="Tab 1">
            <MkCard>
                tab one content
            </MkCard>
        </MkTabContent>
        <MkTabContent Title="Tab 2">
            <MkCard>
                tab two content
            </MkCard>
        </MkTabContent>
        <MkTabContent Title="Tab 3">
            <MkCard>
                tab three content
            </MkCard>
        </MkTabContent>
        <MkTabContent Title="Tab 4">
            <MkCard>
                tab four content
            </MkCard>
        </MkTabContent>
    </MkTabs>
    <MkCode Text="@docs" Language="@MkCode.Razor" Caption="Example" Css="my-4"></MkCode>
</div>

@code {

    private string docs = @"<MkTabs>
    <MkTabContent Title=""Tab 1"">tab one content</MkTabContent>
    <MkTabContent Title=""Tab 2"">tab two content</MkTabContent>
    <MkTabContent Title=""Tab 3"">tab three content</MkTabContent>
    <MkTabContent Title=""Tab 4"">tab four content</MkTabContent>
</MkTabs>";

}