@page "/components/forms"
<div class="grid grid-cols-4 pt-10">
    <div class="hidden sm:block sm:col-span-1">
        <MkVertNav />
    </div>
    <div class="col-span-4 sm:col-span-3">
        <MkText Type="Typo.H4">Components</MkText>
        <FormSample />
    </div>
</div>

@code {

}
