@page "/"
@inject ToastService Service
@inject ILogger<Index> Log

<div class="grid grid-cols-4 pt-10">
    <div class="hidden sm:block sm:col-span-1">
        <MkVertNav/>
    </div>
    <div class="col-span-4 sm:col-span-3">
        <MkText Type="Typo.H4">Getting Started</MkText>
        <div class="mb-10">
            <MkText Type="Typo.H1">Quick Start</MkText>
            <MkText Type="Typo.H3">Install via NuGet</MkText>
            <MkCode Text="dotnet add package Makani"></MkCode>

            <MkText Type="Typo.H3" Css="mt-4">Update your <code class="bg-gray-200 dark:text-gray-800 font-mono font-sm rounded-sm">_Imports.razor</code></MkText>
            <MkCode Text="@("@using Makani")"></MkCode>

            <MkText Type="Typo.H3" Css="mt-4">Add Makani in your <code class="bg-gray-200 dark:text-gray-800 font-mono font-sm rounded-sm">Program.cs</code></MkText>
            <MkCode Text="builder.Services.AddMakani();"></MkCode>
        </div>
        <a href="components"><MkButton Size="MkSize.Large" Color="MakaniColor.Blue" Uppercase>Explore Components</MkButton></a>
    </div>
</div>

@code {
}