@page "/"

<div>
    <div>
        <div class="border-b border-slate-600 mb-4">
            <MkText Type="TextType.H1">Buttons</MkText>
        </div>
        <div>
            <MkText Type="TextType.H5">Primary buttons</MkText>
            <MkButton Color="MkColor.Primary" Size="MkSize.Small">Small</MkButton>
            <MkButton Color="MkColor.Primary">Medium</MkButton>
            <MkButton Color="MkColor.Primary" Size="MkSize.Large">Large</MkButton>
        </div>
        <div class="">
            <MkText Type="TextType.H5">Secondary buttons</MkText>
            <MkButton Size="MkSize.Small">Small</MkButton>
            <MkButton>Medium</MkButton>
            <MkButton Size="MkSize.Large">Large</MkButton>
        </div>
    </div>
    <div>
        <div class="border-b border-slate-600 mb-4">
            <MkText Type="TextType.H1">Tabs</MkText>
        </div>
        <MkTabs/>
    </div>
    <div>
        <div class="border-b border-slate-600 mb-4">
            <MkText Type="TextType.H1">Typography</MkText>
        </div>

        <MkText Type="TextType.H1">The quick brown fox jumps over the lazy dog.</MkText>

        <MkText Type="TextType.H2">The quick brown fox jumps over the lazy dog.</MkText>

        <MkText Type="TextType.H3">The quick brown fox jumps over the lazy dog.</MkText>

        <MkText Type="TextType.H4">The quick brown fox jumps over the lazy dog.</MkText>

        <MkText Type="TextType.H5">The quick brown fox jumps over the lazy dog.</MkText>

        <MkText Type="TextType.H6">The quick brown fox jumps over the lazy dog.</MkText>

        <MkText Type="TextType.Body">The quick brown fox jumps over the lazy dog.</MkText>

        <MkText Type="TextType.Caption">The quick brown fox jumps over the lazy dog.</MkText>
    </div>
</div>