@page "/Theme"
<div class="grid grid-cols-4 pt-10">
    <div class="hidden sm:block sm:col-span-1">
        <MkVertNav/>
    </div>
    <div class="col-span-4 sm:col-span-3">
        <MkText Type="Typo.H4">Theme</MkText>
        <div class="mb-8">
            <MkText Type="Typo.H1">Customization</MkText>
            <MkText Type="Typo.H3">Inline customizations</MkText>
            <MkText Type="Typo.Body">
                All <MkInlineCode>MkComponent</MkInlineCode> instances support the <MkInlineCode>Css</MkInlineCode> parameter, which allow you to specify tailwind classes.
            </MkText>

        </div>
        <div class="mb-8">
            <MkText Type="Typo.H3">Customize via Tailwind configuration</MkText>
            <MkText Type="Typo.Body">
                Coming soon.
            </MkText>
        </div>
        <div class="mb-8">
            <MkText Type="Typo.H1">Dark Mode</MkText>
            <MkText Type="Typo.Body">
                Components are compatible "out of the box" with light and dark modes.
            </MkText>
        </div>
    </div>
</div>

@code {

}