<button class="inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0">@ChildContent</button>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
