@using System.Text
<button class="@internalCss">@ChildContent</button>

@code {
    private string BaseCss { get; set; } = "inline-flex items-center border-0 focus:ring-2 rounded text-base my-4 md:mt-0 rounded";
    private string DefaultSize { get; set; } = "py-1 px-3 text-base mt-4 md:mt-0 tracking-wide";
    private string DefaultColor { get; set; } = "dark:bg-gray-800 dark:hover:bg-gray-700 dark:text-gray-200 ring-white";
    private string internalCss => !string.IsNullOrWhiteSpace(Tailwind) ? Tailwind : BuildCss();

    [Parameter]
    public string? Tailwind { get; set; }

    [Parameter]
    public string? Css { get; set; }

    [Parameter]
    public MkSize Size { get; set; }

    [Parameter]
    public MkColor Color { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    public string BuildCss()
    {
        if (Size == MkSize.Default && Color == MkColor.Default)
        {
            return $"{BaseCss} {DefaultSize} {DefaultColor} {Css}";
        }

        var size = string.Empty;
        switch (Size)
        {
            case MkSize.Large:
                size = "py-2 px-8 text-xl font-semibold mt-4 md:mt-0 tracking-wide";
                break;
            case MkSize.Small:
                size = "py-1 px-2 text-sm mt-4 md:mt-0";
                break;
            case MkSize.Medium:
            case MkSize.Default:
                size = DefaultSize;
                break;
        }

        var color = string.Empty;
        switch (Color)
        {
            case MkColor.Primary:
                color = "text-white bg-indigo-500 border-0 py-1 px-3 ring-indigo-200 hover:bg-indigo-600 rounded";
                break;
            case MkColor.Secondary:
            case MkColor.Default:
                color = DefaultColor;
                break;
        }


        return $"{BaseCss} {size} {color} {Css ?? string.Empty}";
    }
}
