@code {
    [Fact]
    public void Button_ShouldRender()
    {
        using var ctx = new TestContext();
        var sut = ctx.Render(@<MakaniButton>Hello World</MakaniButton>);
        sut.MarkupMatches(@<button class:ignore>Hello World</button>);
    }
}
