@code {
    [Theory, AutoMoqData]
    public void Entry_ShouldRender(TestContext ctx)
    {
        var sut = ctx.RenderComponent<MkTextField>();
        sut.Should().NotBeNull();

        var id = sut.Instance.Id;
        sut.MarkupMatches(@<div class:ignore><input class:ignore id="@id" type="text"/></div>);
    }

    [Theory, AutoMoqData]
    public void Entry_ShouldRender_WithLabel(TestContext ctx)
    {
        var label = "My label";
        var sut = ctx.RenderComponent<MkTextField>(r => r.Add(p => p.Label, label));
        sut.Should().NotBeNull();

        sut.MarkupMatches(@<div class:ignore><label class:ignore for="@sut.Instance.Id">@label</label><input class:ignore id="@sut.Instance.Id" type="text"/></div>);
    }
}
